/* Imports Google font Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', "Helvetica Neue", Helvetica, sans-serif;
  background: yellow;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: #222;
  max-width: 760px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}