/* Colors for reference
#88f580;
#fafafa;
#444;
*/

body {
  font-family: 'Ubuntu', "Helvetica Neue", Helvetica, sans-serif;
  background: #88f580;
  text-align: center;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

header {
  background-color: #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transform: skew(0deg, 4deg) translateY(-90px);
}

header h1 {
  color: #fafafa;
  font-size: 4rem;
  padding-bottom: 110px;
  transform: skew(0deg, -4deg) translateY(96px);
}